parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$view of static method Filament\\Schemas\\Components\\View\:\:make\(\) expects view\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/SetUpPasskeyAuthenticationAction.php

		-
			message: '#^Parameter \#1 \$view of static method Filament\\Schemas\\Components\\View\:\:make\(\) expects view\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/PasskeyAuthentication.php
